.sub-header1 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../assets/contact_us.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header1 h1 {
    color: white;
}

.sub-header1 h2 {
    margin-top: 5px;
}

@media(max-width: 700px) {
    .sub-header1 h1 {
        font-size: 24px;
    }
}